.circleBtn {
    width: 32px;
    height: 32px;
    padding: 5px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleBtn svg{
    font-size: 1.2rem;
    color: #46AFEB;
}

.circleBtn.dark svg{
    color: var(--font-darkMode-color);
}